<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>
<body>
    <div class="container">
        <h2>Financial Wealth Management Portal</h2>
        <form action="/prediction_DBS" method="post">
            <input type="submit" value="Predict DBS price">
        </form>
        <form action="/faq" method="post">
            <input type="submit" value="FAQ">
        </form>
    </div>
</body>